<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabbies - User Edit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pets.css">
</head>
<body>
    <header class="header">
        <a href="#home" class="logo"><h1>Tabbies</h1></a>
    </header>
    <main>
        <section th:object="${user}" class="pet-details">
            <h1 th:text="*{name}">User Name</h1>

            <div class="pet-info">
                <section class="aside">
                        <img src="/assets/avatar.jpg" alt="Pet Picture">
                </section>

                <form th:action="@{/users/{id}/edit(id=*{id})}" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" th:value="*{name}">

                    <label for="document">Document:</label>
                    <input type="text" id="document" name="document" th:value="*{document}">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="*{email}">

                    <label for="email">Phone:</label>
                    <input type="number" id="number" name="number" th:value="*{number}">

                    <span>
                        <a th:href="@{/users/{id}(id=*{id})}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </span>
                </form>
            </div>
        </section>
    </main>
</body>
</html>