<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabbies - User View</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pets.css">
</head>
<body>
    <header class="header">
        <a href="#home" class="logo"><h1>Tabbies</h1></a>
    </header>
    <main>
        <section th:object="${user}" class="user-details">
            <h1 th:text="*{name}">User Name</h1>

            <div class="user-info">
                <section class="aside">
                    <img th:src="*{picture}" alt="User Picture">
                </section>

                <div class="user-details-display">
                    <p><strong>ID:</strong> <span th:text="*{id}">ID</span></p>
                    <p><strong>Document:</strong> <span th:text="*{document}">Document</span></p>
                    <p><strong>Email:</strong> <span th:text="*{email}">Email</span></p>
                    <p><strong>Number:</strong> <span th:text="*{number}">Number</span></p>
                    <p><strong>Pets:</strong></p>
                        <ul>
                            <li th:each="petId : *{pets}" th:text="${petId}">Pet ID</li>
                        </ul>
                    </p>
                    <span>
                        <a href="/users/" class="btn btn-secondary">Back</a>
                        <a th:href="@{/users/{id}/edit(id=*{id})}" class="btn btn-primary">Edit</a>
                    </span>
                </div>
            </div>
        </section>
    </main>
</body>
</html>