/* Page colors */
$color-light: #fdfdfd;
$color-dark: #404040;
$color-contrast: #f0f0f0;

$color-primary: #FBACAC;
//$color-primary: #5EE3E4;
$color-secondary: #8895EA;
$color-tertiary: #5877FB;

$color-accent-light: #1964C3;
$color-accent-dark: #044CAC;

/* Pastel colors */
$pastel-pink: #ffd1dc;
$pastel-purple: #c8a2c8;
$pastel-blue: #a2c8e8;
$pastel-green: #b2f2bb;
$pastel-yellow: #fffacd;
$pastel-orange: #ffcc99;
$pastel-red: #ff6961;
$pastel-teal: #99e6e6;
$pastel-lavender: #e6e6fa;
$pastel-mint: #b2f2e6;
$pastel-peach: #ffdab9;
$pastel-lilac: #d8bfd8;
$pastel-coral: #ff7f50;
$pastel-sky-blue: #87ceeb;
$pastel-rose: #ffb6c1;
$pastel-aqua: #7fffd4;
$pastel-lemon: #fff44f;
$pastel-grey: #cfcfc4;