<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Oops! Algo salió mal</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <h1>¡Oh no! Algo anda mal</h1>
            <p>Disculpanos por este error</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjt0iYI1s4jWr65UgqWG-ZIy25T-x4YHV5zQ&s" alt="Gato triste">
            <p>Intenta de nuevo o regresa a la página principal.</p>
            <a href="/" class="btn">Volver al inicio</a>
        </div>
    </div>
</body>
</html>